---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import BlogPost from '../../layouts/BlogPost.astro';
import FormattedDate from '../../components/FormattedDate.astro';

const allPosts = await Astro.glob('../../pages/posts/*.md');
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="dungy's blog" description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li :global(time) {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<div class="p-2 m-4">
				<h1 class="text-3xl text-center">dungy's blog</h1>
				<p class="text-lg text-center">ramblings from a yaoi-obsessed canaille</p>
			</div>
			<section>
				<ul>
					
					{allPosts.map((post) => 
					<div>
						<p>{post.frontmatter.pubDate}</p>
						<li><a href={post.url}>{post.frontmatter.title}</a></li>
						<img src={post.frontmatter.heroImage}/>
						</div>
						)}		
						</ul>
							</section>
		</main>
		<Footer />
	</body>
</html>
