---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { frontmatter } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={frontmatter.title} description={frontmatter.description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
				border-top: 1px solid #ddd;
				margin: 1rem 0;
			}
			p {
				margin: 1rem 0;
			}
			h2 {
				font-size: 1em;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article class="mx-auto">	
				{frontmatter.heroImage && <img width={720} height={360} src={frontmatter.heroImage} alt="" class="mx-auto m-4" />}
				<h1 class="title">{frontmatter.title}</h1>
				<p class="text-sm">{frontmatter.description}</p>
				<p class="text-sm">{frontmatter.author}</p>
				<p class="text-sm">{frontmatter.pubDate}</p>
				<hr />
				<slot style="padding:1rem;"/>
			</article>
		</main>
		<Footer />
	</body>
</html>
